body{
    background-color: lightgoldenrodyellow;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
}

header{
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
}

footer{
    text-align: center;
}

button{
    width: 300px;
    height:  50px ;
    font-size: 20px;
    border-radius: 10px;
    border-width: 2px;
    background-color: bisque;
}
